* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F8FA;
    color: black;
}

.container {
    max-width: 800px;
    background-color: white;
    margin: 0 auto;
    margin-top: 40px;
}

header{
    background-color: white;
    height: 90px;
}

header .header-top img {
    width: 90px;
    vertical-align: middle;
}

header .header-top span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    vertical-align: middle;
}